<h1> Events </h1>
<div class="container">

  <div class="jumbotron">
    <h1 class="display-3"><%= @event.name %></h1>
    <span><%= @event.date.strftime("%B %-d, %Y") %></span><br>
    <span> <%= @event.location %></span><br>
    <span class="small" ><%= @event.price %></span><br>
    <span><%= link_to "JSON", json_path, :class => 'btn btn-default' %></span>
  </div>

  <div class="row">
    <% @peopleAttend.each do |person| %>
      <div class="col-6 col-lg-4">
        <h2><%= person.first_name %> <%= person.last_name %></h2>
        <p><strong>Gender: </strong><%= person.gender %></p>
        <p><strong>Birthdate: </strong><%= person.birthdate.strftime("%B %-d, %Y") %></p>
        <p><strong>Email: </strong><%= person.email %></p>
        <p><strong>Street: </strong><%= person.street %></p>
        <p><strong>City: </strong><%= person.city %> </p>
        <p><strong>State: </strong>  <%= person.state %> </p>
        <p><strong>Country: </strong><%= person.country %></p><br>
      </div>
    <% end %>
  </div>
  
</div>